<div class="lists">
    <div>
        <div class="lists-head">
            <div class="filter">
                <div>
                    <span>Min. BTC <input type="text" ng-model="main.local.minbtc" ng-change="main.changed()" ui-number-mask="8"/></span>
                    <span>Max. BTC <input type="text" ng-model="main.local.maxbtc" ng-change="main.changed()" ui-number-mask="8"/></span>
                    <button ng-click="main.refresh()"><i class="glyphicon glyphicon-refresh" aria-hidden="true"></i></button>
                    <button ng-click="main.resetbtc()">reset</button>
                </div>
                <div ng-show="main.loading" class="loading">
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
            </div>
            <div class="refresh-progress">
                <uib-progressbar max="main.refreshtime" value="main.timesincelastrefresh"><span style="color:white; white-space:nowrap;">refresh in: {{main.timetorefresh}}</span></uib-progressbar>
            </div>
            <div class="vol24">
                <span>Total Market Cap USD: {{main.local.globaldata['total_market_cap_usd']|tsuffix:3}}</span>
                <label>VOLUME 24h</label>
                <span>24h Market Cap USD: {{main.local.globaldata['total_24h_volume_usd']|tsuffix:3}}</span>
                <div class="count">
                    <input type="number" step="1" ng-model="main.local.toplists.volume24.length"/>
                    <button ng-click="main.refresh()"><i class="glyphicon glyphicon-refresh" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="cache">
                <button ng-click="main.clearcache()">reset storage</button>
            </div>
        </div>
        <div>
            <div class="coinbox-wrapper coinfade" ng-repeat="coin in main.local.toplists.volume24.data track by coin.id">
                <coinbox coin="coin"></coinbox>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="winloss">
        <div class="count">
            <input type="number" step="1" ng-model="main.local.maxwinnerlooser"/>
            <button ng-click="main.refresh()"><i class="glyphicon glyphicon-refresh" aria-hidden="true"></i></button>
        </div>
        <div>
            <label>WINNER 7d</label>
            <div>
                <div class="coinbox-wrapper coinfade" ng-repeat="coin in main.local.toplists.winner7d.data track by coin.id">
                    <coinbox coin="coin" change="percent_change_7d" size="medium"></coinbox>
                </div>
            </div>
        </div>
        <div>
            <label>WINNER 24h</label>
            <div>
                <div class="coinbox-wrapper coinfade" ng-repeat="coin in main.local.toplists.winner24h.data track by coin.id">
                    <coinbox coin="coin" size="medium"></coinbox>
                </div>
            </div>
        </div>
        <div>
            <label>WINNER 1h</label>
            <div>
                <div class="coinbox-wrapper coinfade" ng-repeat="coin in main.local.toplists.winner1h.data track by coin.id">
                    <coinbox coin="coin" change="percent_change_1h" size="medium"></coinbox>
                </div>
            </div>
        </div>
        <div>
            <label>LOOSER 1h</label>
            <div>
                <div class="coinbox-wrapper coinfade" ng-repeat="coin in main.local.toplists.looser1h.data track by coin.id">
                    <coinbox coin="coin" change="percent_change_1h" size="medium"></coinbox>
                </div>
            </div>
        </div>
        <div>
            <label>LOOSER 24h</label>
            <div>
                <div class="coinbox-wrapper coinfade" ng-repeat="coin in main.local.toplists.looser24h.data track by coin.id">
                    <coinbox coin="coin" size="medium"></coinbox>
                </div>
            </div>
        </div>
        <div>
            <label>LOOSER 7d</label>
            <div>
                <div class="coinbox-wrapper coinfade" ng-repeat="coin in main.local.toplists.looser7d.data track by coin.id">
                    <coinbox coin="coin" change="percent_change_7d" size="medium"></coinbox>
                </div>
            </div>
        </div>
    </div>
</div>