<div class="coinbox">
    <div class="coinbox-image"><img ng-if="coin['id']" alt="{{coin['id']}}" ng-src="{{imgurl()}}"></div>
    <div class="coinbox-info">
        <div class="coinbox-title">{{coin['name']}} [{{coin['symbol']}}]</div>
        <div class="coinbox-price">
            <span ng-if="coin['price_usd'] >= 1">{{coin['price_usd']| number:2}} USD</span>
            <span ng-if="coin['price_usd'] < 1">{{coin['price_usd']| number:6}} USD</span>&nbsp;
            <span ng-class="{'nb-dn': coin[percentChange()] < 0, 'nb-up': coin[percentChange()] > 0}">({{coin[percentChange()]| number:2}}%)</span>
        </div>
        <div class="coinbox-secondary"><span ng-if="coin['id'] !== 'bitcoin'">{{coin['price_btc']| number:8}} BTC</span></div>
    </div>
    <div class="coinbox-vol">
        <div class="coinbox-marketcap">
            <label>MARKET CAP</label>
            <div>
                <span ng-if="coin['market_cap_usd']">{{coin['market_cap_usd']| tsuffix:3}} </span>
                <span ng-if="!coin['market_cap_usd']">N/A</span>
                <span>USD</span>
            </div>
            <div>
                <span>{{coin['market_cap_eur']| tsuffix:3}} </span>
                <span ng-if="!coin['market_cap_eur']">N/A</span>
                <span>EUR</span>
            </div>
        </div>
        <div class="coinbox-volume">
            <label>24h VOLUME</label>
            <div>
                <span>{{coin['24h_volume_usd']| tsuffix:3}} </span>
                <span>USD</span>
            </div>
            <div>
                <span>{{coin['24h_volume_eur']| tsuffix:3}} </span>
                <span>EUR</span>
            </div>
        </div>
    </div>
</div>