<div class="coinbox" ng-class="{'medium': size === 'medium', 'small': size === 'small'}">
    <div class="coinbox-image">
        <a ng-href="http://coinmarketcap.com/currencies/{{coin['id']}}" target="_blank">
            <img ng-if="coin['id']" alt="{{coin['id']}}" ng-src="{{imgurl()}}">
        </a>
    </div>
    <div class="coinbox-image-space"></div>
    <div class="coinbox-info">
        <div class="coinbox-title"><a ng-href="http://coinmarketcap.com/currencies/{{coin['id']}}" target="_blank">{{coin['name']}} [{{coin['symbol']}}]</a></div>
        <div class="coinbox-price">
            <span ng-if="coin['price_usd'] >= 1"><span count-up end-val="coin.price_usd" duration="4" decimals="2"></span> USD</span>
            <span ng-if="coin['price_usd'] < 1"><span count-up end-val="coin.price_usd" duration="4" decimals="6"></span> USD</span>
            <span ng-if="percentChange()" ng-class="{'nb-dn': percentChange() < 0, 'nb-up': percentChange() > 0}">({{percentChange() | number:2}}%)</span>
            <span ng-if="!percentChange()">N/A</span>
        </div>
        <div class="coinbox-secondary">
            <span ng-if="coin['id'] !== 'bitcoin'"><span count-up end-val="coin.price_btc" duration="4" decimals="8"></span> BTC</span>
        </div>
    </div>
    <div class="coinbox-vol">
        <div class="coinbox-marketcap">
            <label>MARKET CAP</label>
            <div>
                <span ng-if="coin['market_cap_usd']">{{coin['market_cap_usd']| tsuffix:3}} </span>
                <span ng-if="!coin['market_cap_usd']">N/A</span>
                <span>USD</span>
            </div>
            <div>
                <span>{{coin['market_cap_eur']| tsuffix:3}} </span>
                <span ng-if="!coin['market_cap_eur']">N/A</span>
                <span>EUR</span>
            </div>
        </div>
        <div class="coinbox-volume">
            <label>24h VOLUME</label>
            <div>
                <span>{{coin['24h_volume_usd']| tsuffix:3}} </span>
                <span>USD</span>
            </div>
            <div>
                <span>{{coin['24h_volume_eur']| tsuffix:3}} </span>
                <span>EUR</span>
            </div>
        </div>
    </div>
</div>